<!DOCTYPE html>
<html>
    <head>
        <title>سلام!</title>
        <meta name="tags" content="morteza">
        <meta name="tag_colors" content="grey">
        <meta name="color" content="red">
        <meta name="date" content="2018-06-15 00:28">
        <meta name="modified" content="2018-06-18 19:50">
        <meta name="category" content="blog">
        <meta name="author" content="Morteza Allahpour">
        <meta name="author_fa" content="مرتضی الله‌پور">
        <meta name="author_avatar" content="images/avatar/avatar.png">
        <meta name="summary" content="این اولین پست وبلاگ هست که نوشتم. قبل از ادامه حتما بخونیدش ...">
    </head>
    <body>
        <p>
            این اولین متنی هست که اینجا مینویسم و امیدوارم بتونم حداقل هر دو هفته نوشتن رو تکرار کنم (وقت <i class="emoji frowning-face"></i>).
        </p>
        <p>
            خیلی زیاد به سی++ علاقه دارم و پایتون بلدم. مطالب اینجا هم در مورد همین دو زبان و فریمورک‌های اوناست. اینا رو نمی‌نویسم که بهتون بگم چقد خوبن و برید یاد بگیرید شون و از این حرفا، اینجا قراره یه جورایی جزوه‌ای بشه که تو دوران دانشجویی هیچوقت نداشتم و ننوشتم <i class="emoji smiling-face-with-open-mouth"></i>، اینجوری چیزایی که بلدم رو یجا جم‌وجور کردم بقیه هم اگر خاستن میتونن استفاده کنن.
        </p>
        <h3 class="text red">
            Disclaimer و بقیه چیزا:
        </h3>
        <div class="ui bulleted list">
            <div class="item">
                هیچ تضمینی وجود نداره چیزایی که اینجا می‌نویسم <span class="text red bold">درست باشن</span> و هیچ ادعایی هم درباره درست بودنش ندارم.
                اگر تشخیص دادید اشتباهه می‌تونید بهم بگید تا درستش کنم یا ولش کنین همونجوری بمونه.
                <div class="list" style="clear:unset;">
                    <div class="ui message green">
                        دو تا راه دارید: میتونید <a href="mailto:mortezaallahpour@outlook.com">ایمیل</a> بدید بهم و بگید کجا و چی مشکل داره یا فایل مربوط به پست رو تصحیح کنین و یه <span class="english-normal-size">pull request</span> تو <a href="https://github.com/mortza/mortza.github.io-source"><i class="icon github"></i></a> بدید.
                        در هر صورت بررسی میکنم و اگه مقبول بود ... .<i class="emoji hugging-face"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                از هر چیزی که می‌نویسم می‌تونید استفاده کنید، به هر شکلی و هر جایی (اگر در سطحی بود که میشد اسم آموزش روش گذاشت والاغیرتا بابتش از خلق‌الله پول نگیرید).
                <div class="list">
                    <div class="ui message red">
                        تنها استثنا کتابخانه‌ها، فریمورک‌ها، <span class="english-normal-size">asset</span>ها و ... چیزای این شکلی هست که برای ساخت این بلاگ استفاده کردم یا تو برنامه‌هایی که میزارم، استفاده شدن. در مورد اونا به لایسنس سازنده مراجعه کنین.
                    </div>
                    <div class="ui message purple">
                        اگر هم دوست داشتید از منوی سمت چپ مطالب رو <span class="english-normal-size">share</span> کنین.
                    </div>
                </div>
            </div>
            <div class="item">
                برنامه‌هایی که میزارم، نمونه کدها و هر چیزی دیگه‌ای رو با مسئولیت خودتون اجرا کنین. شاید مشکلی داشته باشه <i class="emoji winking-face"></i>
            </div>
            <div class="item">
                به هیچ عنوان قصد ندارم برنامه نویسی رو از پایه بهتون آموزش بدم (کلا قصدم آموزش نیست و اعتقاد دارم معلمی شغل چوپان‌هاست) و مطالبی که مینویسم نیازمند آشنایی با پایتون و سی++ و بعضی مفاهیم دیگه است که میتونین با سرچ منبع آموزشی براش پیدا کنین (مثلا در مورد کیوت و جانگو باید با <span class="english-normal-size">MVC</span> آشنا باشید).
            </div>
            <div class="item">
                تلاش میکنم مطالب تا حد امکان پیوسته باشن و جسته گریخته و از اینور اونور ننویسم.
            </div>
            <div class="item">
                به رسم خیلی از شرکت‌ها <span class="text red underline"> در هر لحظه‌ای این حق رو دارم حرفایی که بالا زدم رو تغییر بدم و استفاده شما از تمام یا جزئی از مطالب این سایت و مخزن (همون <span class="english-normal-size">repository</span>) گیتهابم به معنی قبول کردن تمام موارد هست</span>.
            </div>
        </div>
        <div class="ui divider"></div>
        <h1>
            ویجت‌های نمایش کد:
        </h1>
        <h2>
            کد پایتون
        </h2>
<!-- <textarea id="code1"> -->
<pre><code class=""># some code in python
import sys

sys.path.append('.')

def func(arg):
    print('you pass: {}'.format(arg))
</code></pre>
<!-- </textarea> -->
        <div class="ui divider"></div>
        <h2>
            کد سی++
        </h2>
<!-- <textarea id="code2"> -->
<pre><code class="c++">#include &lt;iostream&gt;
#include &lt;iterator&gt;
#include &lt;vector&gt;

int main() {
    auto numbers = std::vector&lt;int&gt;({1, 2, 3, 4, 5, 6, 7});
    std::copy(numbers.begin(),
              numbers.end(),
              std::ostream_iterator&lt;int&gt;(std::cout, ", "));
    return 0;
}
</code></pre>
<!-- </textarea> -->
        <div class="ui divider"></div>
        <h2>
            کد جانگو (template)
        </h2>
<!-- <textarea id="code3"> -->
<pre><code class="djnago">{% load staticfiles %}
&lt;!DOCTYPE html&gt;
&lt;html lang="fa"&gt;
    &lt;head&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}"&gt;
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body class="body"&gt;
        {% include 'layouts/front-site/navbar_block' %}
        &lt;div class="container"&gt;
            {% block main_contents %}
            {% endblock main_contents %}
        &lt;/div&gt;
        {% block footer_block %}
        {% endblock footer_block %}
        {# comments #}
        &lt;script src="{% static 'js/jquery.min.js' %}"&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<!-- </textarea> -->
        <div class="ui divider"></div>
        <h2>
            فایل CMake
        </h2>
<!-- <textarea id="code4"> -->
<pre><code class="cmake">cmake_minimum_required(VERSION 3.9)
# find sources
aux_source_directory(. SOURCES_FILE)
message(${SOURCES_FILE})

find_package(Boost 1.50.0 REQUIRED COMPONENTS filesystem program_options)

add_executable(TestProject ${SOURCES_FILE})
target_include_directories(TestProject PUBLIC Boost::boost)
target_link_libraries(TestProject Boost::filesystem) # Boost::dynamic_linking Boost::disable_autolinking)
</code></pre>
<!-- </textarea> -->
        <div class="ui divider"></div>
        <h2>
            Shell
        </h2>
<!-- <textarea id="code5"> -->
<pre><code class="bash">#!/bin/bash
git clone http://github.com/mortza/mortza.github.io-source
cd mortza.github.io-source
</code></pre>
<!-- </textarea> -->
        <h1>
            نقل قول
        </h1>
        <blockquote class="red">
            <p  class="ui quote">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود</p>
        </blockquote>
        <div class="ui divider"></div>
        <p class="text blue">
            در آینده شاید کامنت هم اضافه کردم، شایدم نکردم.
        </p>
        <script>
            $(function(){
                /*String.prototype.replaceAll = function(search, replacement) {
                    var target = this;
                    return target.replace(new RegExp(search, 'g'), replacement);
                };
                $('pre>code').each(function(){
                    var temp_str = this.innerText;
                    innerText = temp_str.replaceAll('<','&lt;');
                    innerText = temp_str.replaceAll('>','&gt;');
                    this.innerText = temp_str;
                });*/
                hljs.initHighlightingOnLoad();
            });
        </script>
    </body>
</html>